.modal{
    padding: 4rem;
    position: absolute;
    width: 200px;
    height: auto;
    right: -25%;
    top: 0;
    
    animation: modal 1.5s ease 1 forwards;
}
@keyframes  modal {
    0%{
        transform: translateX(0);
    }50%{
        transform: translateX(35%);
    }90%{
        transform: translateX(0%);
    }
    
}
